body {
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
}
#navbar-container {
    display: flex;
    background-color: rgb(50, 51, 51);
    border: lightgreen solid;
    text-align: center;
    justify-content: left;
    align-items: center;
    padding: 2px 195px;
    margin: 0;
}
#nav-items-container {
    border: lightblue solid;
    width: 960px;
    display: inline-flex;
}
.nav-item {
    display: inline-flex;
    align-self: center;
    color: white;
    text-decoration: none;
    margin-right: 80px;
    border: red solid;
}
#logo {
    margin-top: 10px;
    margin-bottom: 10px;
}
#nav-div {
    border: solid orange;
    display: flex;
    margin-left: 40px;
}
#hero-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#gallery-container {
    display: flex;
    justify-content: center;
    border: blue solid;
    margin-top: 30px;
}
#gallery-items {
    border: purple solid;
    width: 960px;
    display: flex;
    justify-content: space-between;
}
/* .img-gallery {

} */